<!DOCTYPE HTML>
<html lang=zh-CN data-vue-meta-server-rendered>
<head>
    <title>账户通行证</title>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="/static/user/app.css" />
    <link rel="icon" sizes="192x192" href="/static/user/images/icons-192x192.png">
    <link rel="shortcut icon" href="/static/user/images/icons-72x72.png">
    <link rel="apple-touch-icon" href="/static/user/images/icons-72x72.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/user/images/icons-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/user/images/icons-144x144.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/user/images/icons-180x180.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/static/user/vendor.js"></script>
    <script async type="text/javascript" src="/static/user/app.js"></script>
    <div style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273195438'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1273195438' type='text/javascript'%3E%3C/script%3E"));</script></div>    
</body>
</html>